In [ ]:
import pandas as pd

from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier


from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
import gzip
import gensim 
import logging

In [ ]:
dftrain=pd.read_csv('/content/train.csv')
dftrain

                                                 Comment  Outcome     Id
0      use variables in the outer function instead of...        1  17489
1      if you're looking for something as nice as pyt...        1  37982
2      i use the tail() function: tail(vector, n=1) t...        1  29641
3      combining lindelof's and gregg lind's ideas: l...        1  39557
4      you can drop any row containing a missing usin...        1  14288
...                                                  ...      ...    ...
48157  use dict.get() which will return the value ass...        1  27104
48158  below is answering the original first question...        1  12619
48159  how does the python 3.6 dictionary implementat...        1  23396
48160  i think you're seeing over-allocation patterns...        1  22612
48161  thanks everyone for helping me to understand t...        1  33579

[48162 rows x 3 columns]

In [ ]:
dftest=pd.read_csv('/content/test.csv')
dftest

                                                 Comment     Id
0      clearly i should have worked on this for anoth...  57525
1      in most cases r is an interpreted language tha...  62692
2      most of the algorithms for eigen value computa...  54789
3      if you're willing to entertain an alternate pl...  61455
4      try littler. littler provides hash-bang (i.e. ...  78000
...                                                  ...    ...
28858  getting some sort of modification date in a cr...  53750
28859  just use a plain old for loop: results = {} fo...  56455
28860  approach #1 here's a vectorized approach - m,n...  78034
28861  use case: library function expects an integer,...  62237
28862  everything between : and the = is a type hint,...  55230

[28863 rows x 2 columns]

In [ ]:
frames = [dftrain, dftest]

dfcombined = pd.concat(frames)
dfcombined

                                                 Comment  Outcome     Id
0      use variables in the outer function instead of...      1.0  17489
1      if you're looking for something as nice as pyt...      1.0  37982
2      i use the tail() function: tail(vector, n=1) t...      1.0  29641
3      combining lindelof's and gregg lind's ideas: l...      1.0  39557
4      you can drop any row containing a missing usin...      1.0  14288
...                                                  ...      ...    ...
28858  getting some sort of modification date in a cr...      NaN  53750
28859  just use a plain old for loop: results = {} fo...      NaN  56455
28860  approach #1 here's a vectorized approach - m,n...      NaN  78034
28861  use case: library function expects an integer,...      NaN  62237
28862  everything between : and the = is a type hint,...      NaN  55230

[77025 rows x 3 columns]

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import nltk
import glob
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import re

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.pipeline import Pipeline

In [ ]:
X= dfcombined['Comment'].fillna(' ')
y=dfcombined['Outcome'].fillna('')

In [ ]:
vectorizer = TfidfVectorizer(ngram_range=(1, 3))
Xtry = vectorizer.fit_transform(X)
#vectorizer.get_feature_names_out()
print(Xtry.shape)
Xtry

(77025, 2249438)

<77025x2249438 sparse matrix of type '<class 'numpy.float64'>'
	with 10931487 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import csr_matrix

svd = TruncatedSVD(n_components=150, n_iter=2, random_state=42)
svd.fit(Xtry)
sum(svd.explained_variance_ratio_)

0.07261409728008736

In [ ]:
Xnew=svd.transform(Xtry)

In [ ]:
Xnewcsv=pd.DataFrame(Xnew)
Xnewcsv.to_csv('Xnewcsv.csv')
Xnewcsv

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.146632,-0.009940,-0.017463,-0.002687,-0.019628,-0.011148,-0.000680,0.000408,0.005028,-0.014972,...,0.000744,-0.018543,-0.017960,-0.003773,0.027973,0.026073,0.020779,-0.000381,0.012697,0.019765
1,0.129602,-0.005928,-0.006905,0.002787,-0.002516,0.014136,-0.012554,0.027650,0.010388,-0.033093,...,-0.002878,-0.033883,0.027342,-0.007851,0.007823,0.012694,0.006847,-0.001040,-0.018010,-0.011172
2,0.082585,0.004126,-0.014253,0.002883,-0.026415,-0.016321,0.008264,-0.012780,-0.021149,0.018646,...,-0.005238,-0.006197,0.014909,-0.004959,0.008448,0.011455,-0.003463,-0.004787,-0.002422,0.010984
3,0.107255,0.015973,-0.009588,-0.007717,-0.009934,-0.017662,0.006389,-0.021893,0.011676,-0.009194,...,0.000730,0.003448,-0.012965,-0.002329,0.008037,0.005669,0.003309,0.020967,0.002190,0.028000
4,0.175740,0.204721,0.026762,0.287556,-0.051640,-0.004674,0.003180,0.001452,-0.019371,0.001336,...,-0.009171,0.018705,0.022195,0.008386,0.007367,-0.020490,0.001957,-0.001174,0.011875,0.003327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77020,0.244503,-0.050449,-0.041021,0.029398,0.115472,0.012721,-0.018134,-0.116123,-0.081589,0.046778,...,-0.008065,0.009721,-0.002549,-0.019921,-0.005675,-0.004233,0.009764,-0.001541,0.007621,0.014343
77021,0.190874,0.001335,-0.007213,-0.009990,-0.048700,0.029356,-0.019491,0.008418,-0.013734,-0.019228,...,0.015417,-0.009519,-0.032191,-0.006388,0.007061,-0.003764,0.003227,0.031329,0.022344,0.003312
77022,0.064062,0.006332,0.012015,-0.020663,-0.019696,0.056717,0.002031,0.006956,0.044384,0.107786,...,-0.007056,-0.003307,0.000003,0.000810,-0.000870,-0.002779,0.003423,0.000657,-0.000648,0.004446
77023,0.170505,-0.002980,-0.022489,0.000105,-0.021770,-0.025553,0.009331,0.002232,-0.002270,-0.018338,...,-0.005417,0.001341,-0.008971,-0.017421,0.005965,-0.010667,0.006090,0.013134,-0.016874,0.001226
77024,0.245872,-0.021435,-0.011888,-0.007101,-0.087115,0.025210,-0.013948,0.016989,-0.038759,-0.003273,...,-0.002993,-0.004446,-0.000433,-0.000747,0.002315,-0.001931,-0.008165,-0.008290,0.002549,0.008046

In [ ]:
#48162
Xinput=Xnewcsv.iloc[:48162]
Xinput=Xinput.fillna('')
y=dftrain['Outcome'].fillna('')

In [ ]:
#48162
Xinput=svd2000.iloc[:48162]
Xinput=Xinput.fillna('')
y=dftrain['Outcome'].fillna('')

NameError: ignored

In [ ]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression


modellr = LogisticRegression()
solvers = ['newton-cg', 'lbfgs', 'liblinear']
penalty = ['l2']
c_values = [1]

In [ ]:
#grid search
gridlr = dict(solver=solvers,penalty=penalty,C=c_values)
cvlr = RepeatedStratifiedKFold(n_splits=4, n_repeats=3, random_state=1)
grid_searchlr = GridSearchCV(estimator=modellr, param_grid=gridlr, n_jobs=-1, cv=cvlr, scoring='accuracy',error_score=0)
grid_resultlr = grid_searchlr.fit(Xinput, y)

#result
print("Best: %f using %s" % (grid_resultlr.best_score_, grid_resultlr.best_params_))
meanslr = grid_resultlr.cv_results_['mean_test_score']
stdslr = grid_resultlr.cv_results_['std_test_score']
paramslr = grid_resultlr.cv_results_['params']
for meanlr, stdevlr, paramlr in zip(meanslr, stdslr, paramslr):
    print("%f (%f) with: %r" % (meanlr, stdevlr, paramlr))

Best: 0.686620 using {'C': 1, 'penalty': 'l2', 'solver': 'lbfgs'}
0.686599 (0.003064) with: {'C': 1, 'penalty': 'l2', 'solver': 'newton-cg'}
0.686620 (0.003003) with: {'C': 1, 'penalty': 'l2', 'solver': 'lbfgs'}
0.686579 (0.003063) with: {'C': 1, 'penalty': 'l2', 'solver': 'liblinear'}

In [ ]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
n_estimators = [10, 100, 1000]
max_features = ['sqrt', 'log2']

In [ ]:

#grid search
grid = dict(n_estimators=n_estimators,max_features=max_features)
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(Xinput, y)

#results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Best: 0.685104 using {'max_features': 'sqrt', 'n_estimators': 1000}
0.622517 (0.003069) with: {'max_features': 'sqrt', 'n_estimators': 10}
0.676592 (0.004204) with: {'max_features': 'sqrt', 'n_estimators': 100}
0.685104 (0.003959) with: {'max_features': 'sqrt', 'n_estimators': 1000}
0.615880 (0.006592) with: {'max_features': 'log2', 'n_estimators': 10}
0.673532 (0.003962) with: {'max_features': 'log2', 'n_estimators': 100}
0.679768 (0.004385) with: {'max_features': 'log2', 'n_estimators': 1000}